@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content {
  margin-left:260px;
  background-color: white;
}

.endpoint-item {
  cursor: pointer;
  border-bottom: 1px solid #c6c6c6;
  height: 30px;
  vertical-align: middle;
}

.unfixed-tab {
  font-style: italic;
}

.endpoint-page-container {
  width: calc(100% - 260px);
  margin-left: 260px;
}

.top-bar {
  width: calc(100% - 260px);
  margin-left: 260px;
}

.GET {
  color: green;
}

.POST {
  color: gold;
}

.PUT {
  color: blue;
}

.DELETE {
  color: red;
}
